@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: rgb(0, 16, 54); */
  /* background-color :#02002f; */
  background-color :#0e2647;
  color: #fff;
}
/* } */

input,
textarea {
  color: #000;
}
